@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
	margin: 0;
	font-family: "Inter", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	box-sizing: border-box;
	background: #000;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

/*b header */

.header {
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 41px;

	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	max-width: 880px;
}

.header__logo {
	max-width: 142px;
	height: auto;
	display: block;
}

.content {
	margin: 0 auto;
	max-width: 880px;
}

/*b profile */

.profile {
	margin-top: 40px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile__person {
	display: flex;
	align-items: center;
}

.profile__avatar {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}

.profile__info {
	margin-left: 30px;
	display: grid;
	grid-template-columns: 1fr 24px;
	column-gap: 18px;
	align-items: baseline;
}
.profile__name {
	margin: 0;
	max-width: 336px;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.profile__edit {
	width: 24px;
	height: 24px;
	border: none;
	background: transparent url(./images/edit-btn.svg);
	cursor: pointer;
	background-repeat: no-repeat;
	transition: all 0.3s linear;
}

.profile__edit:hover {
	opacity: 0.6;
}

.profile__job {
	margin: 0;
	margin-top: 6px;
	max-width: 336px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: start;
}

.profile__add-item {
	width: 150px;
	height: 50px;
	background: transparent url(./images/add.svg) center center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
	transition: all 0.3s linear;
}
.profile__add-item:hover {
	opacity: 0.6;
}

/*b elements */

.elements {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
	column-gap: 17px;
	row-gap: 20px;
}

.element {
	width: 100%;
	height: auto;
}
.element__img {
	width: 100%;
	height: 282px;
	border-radius: 10px 10px 0 0;
	display: block;
	object-fit: cover;
}

.element__title-group {
	padding: 24px 20px 26px 21px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;

	background-color: #fff;
	border-radius: 0 0 10px 10px;
}
.element__title {
	margin: 0;

	/* max-width: 200px; */

	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}

.element__like {
	padding: 0;

	min-width: 22px;
	height: 19px;

	border: none;
	background: transparent url(./images/like.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.3s linear;
}

.element__like_active {
	background: transparent url(./images/activeLike.svg);
}

.element__like:hover {
	opacity: 0.6;
}

/*b  footer */
.footer {
	margin: 0 auto;
	max-width: 880px;
	margin-top: 66px;
	margin-bottom: 60px;
}
.footer__text {
	font-size: 18px;
	line-height: 22px;
	color: #545454;
}

/*b  popup*/

.popup {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}
.popup_opened {
	display: flex;
}

.popup__container {
	max-width: 430px;
	max-height: 330px;
	background: #ffffff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 42px 36px 29px;
	position: relative;
	box-sizing: border-box;
}
.popup__close {
	border: none;
	background: url(./images/close.svg);
	background-size: cover;
	width: 32px;
	height: 32px;
	position: absolute;
	top: -38px;
	right: -38px;
	cursor: pointer;
	transition: all 0.3s linear;
}
.popup__close:hover {
	opacity: 0.6;
}

.popup__title {
	margin: 0;
	margin-bottom: 46px;

	color: #000;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}
.form-conteiner {
	text-align: center;
	font-family: inherit;
}

.popup__input-container {
	margin: 0 auto;
	padding: 0;
	border: none;
}

.popup__name-field,
.popup__job-field {
	padding: 0;
	padding-bottom: 6px;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 14px;
	line-height: 17px;
}

.popup__field {
	margin-bottom: 0;
}

.popup__field:not(:last-child) {
	margin-bottom: 30px;
}

.popup__btn-safe {
	margin-top: 48px;
	padding: 16px 0;
	max-width: 358px;
	min-width: 238px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s linear;
	line-height: 22px;
}
.popup__btn-safe:hover {
	opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.content {
		width: calc(100% - 19px*2);
		margin: 0 auto;
		text-align: center;
	}

	.header {
		padding-top: 28px;
		padding-bottom: 31.6px;
		padding-left: 27px;
	}

	.header__logo {
		max-width: 104px;
	}
	.profile {
		margin-bottom: 36px;
	}

	.profile__person {
		flex-wrap: wrap;
		justify-content: center;
	}

	.profile__info {
		margin-top: 26px;
		column-gap: 10px;
		align-items: center;
	}

	.profile__name {
		font-size: 27px;
		line-height: 33px;
	}

	.profile__job {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}

	.profile__edit {
		width: 18px;
		height: 18px;
		border: none;
	}

	.profile__add-item {
		margin-top: 36px;
		width: 100%;
	}

	.footer {
		margin-top: 48px;
		margin-bottom: 36px;
		width: calc(100% - 19px*2);
	}
	.footer__text {
		font-size: 14px;
		line-height: 17px;
	}

	/* popup */
	.popup__container {
		padding: 25px 22px;
		width: calc(100% - 19px*2);
	}

	.popup__title {
		line-height: 22px;
		font-size: 18px;
	}
	.popup__close {
		width: 20px;
		height: 20px;
		right: 0;
	}
}

@media screen and (min-width: 769px) {
	.content {
		width: calc(100% - 19px*2);
		margin: 0 auto;
		text-align: center;
	}

	.header,
	.footer {
		width: calc(100% - 19px*2);
	}
}
